.marg-top.container.panel-black.svelte-hiyby7 {
    display: none;
}

.border.black.preview.svelte-13wcf6i {
    display: none;
}

.btnbar.svelte-1wol45y {
    display: none;
}

.l-corner-ll.container.uiscaled.svelte-1vrlsr3 {
    display: none;
}